BlockPad.pro.user
UpdateBlockPad/UpdateBlockPad.pro.user
*autosave
inno/Output
inno/Output/*
crt
crt/*
SigningComands.txt
.DS_Store
*.zip
*_old.png
lb
lib/*
builddir
builddir/*
build-stamp
webEngine_Exe
webEngine_Exe/*
webEngine_resources
webEngine_resources/*
debian/blockpad
debian/blockpad/*

