Source: blockpad
Section: non-free
Priority: optional
Maintainer: bloc10 <info@bloc10.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/blockpad.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/blockpad.git

Package: blockpad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
